body {
    background-color: rgb(213, 213, 229);
}

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    color: rgb(58, 57, 60);
}

nav {
    background-color: rgb(218, 172, 187);
    padding: 1rem 2rem;
}

nav a {
    padding: .5rem 1rem;
    color: rgb(78, 50, 96);
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
}


button {
    background-color: rgb(87, 87, 102);
    color: rgb(225, 225, 236);
    outline: none;
    border: none;
    border-radius: .25rem;
    padding: 4px 14px;
}

.correct{
    color: rgb(79, 117, 95);
    background-color: rgb(150, 235, 145);
    font-weight: 600;
}

.incorrect{
    background-color: rgb(218, 112, 112);
    color: rgb(63, 35, 35);
    font-weight: 600;
}

.w-fit {
    width: fit-content;
}

.prompt {
    font-size: 1.2rem;
    font-weight: 600;
}

.radio-container {
    input {
        margin-right: 1em;
    }
}

.text-template button{
    margin-left: 5px;
}
.text-template input{
    width: 50vw;
}

.mh-30 {
    min-height: 30px;
}