.question {
}

#questions-cont {
    grid-template-columns: 1fr min-content 2fr;
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
}


#questions-cont > .r-prompt {
    padding: 14px;
}

#questions-cont > .r-answer {
    background-color: rgb(218, 222, 233);
    padding: 8px;
}

#questions-cont .type {
    color: white;
    padding: 4px;
    background-color: rgb(212, 154, 154);
}
#questions-cont .type.torf {
    background-color: rgb(144, 200, 137);
}
#questions-cont .type.text {
    background-color: rgb(221, 183, 145);
}
#questions-cont .type {
    background-color: rgb(221, 157, 206);
}